{% extends "Mynotes/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h6><b><a class="mr-2" href="#">{{ post.organization }}</a></b></h6>
            <div class="article-metadata">  
              <a class="mr-2" href="#">{{ post.agenda }}</a>
            </div>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="article-metadata"> 
              <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
              <h7>By<a class="mr-2" href="#"> {{ post.author }}</a></h7><br>
              <h7>Attended by:<a class="mr-2" href="#">{{ post.attendance }}</a></h7>
            </div>
            <div class="article-metadata">
              <p class="article-content">{{ post.content }}</p>
            </div>
            
          </div>
        </article>
    {% endfor %}
{% endblock content %}